@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
    margin: 0;
    font-family: "Arial";
}

nav a:hover {
    color: white;
}

nav a {
    margin-right: 13px;
    font-weight: bolder;
    color: blue;
}

.enlace-nav{
    text-decoration: none !important;
    color: #1161ee;
}

.boton-logout{
    background-color: white;
    border-style: none;
    color: #114BBF;
    height: 1.5rem;
    border: none;
    border-radius: 7px;
}

.boton-logout:hover{
    background-color: rgb(233, 233, 233);
    color: #114BBF;
}

.titulo-reserva{
    margin-top: 5rem;
    font-family: 'Anton', sans-serif;
}


h1, #reserva {
    text-align: center;
}

#foto-perfil {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    margin: 5px;
}


#fecha{
    width: 30%;
    background-color: #114BBF;
    color: white;
}


#foto-perfil {
    margin-left: 10px;
}

input {
    margin-top: 5px;
    padding: 0.5em;
    width: 50%;
    margin-bottom: 1em;
}

#botonfoto {
    border-radius: 5px;
    padding: 8px;
    width: 50%;
    background-color: #d3cfcf;
    cursor: pointer;
}

#botonfoto:hover {
    background-color: #eae5e5;
}

#boton {
    margin: 5px;
    font-size: 1.2em;
    margin-bottom: 1em;
    background-color: #1161ee;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

.botoncancelar{
    background-color: red !important;
}

/*.botoncancelar:hover{
    background-color: rgba(255, 0, 0, 0.473) !important;
}
*/
#boton:hover{
    background-color: #1162eeb7;
}

.botoncancelar:hover{
    box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.17);
}

.botonconfirmar:hover{
    box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.17);
}

.botoncancelar:active{
    box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.37);
}

.botonconfirmar:active{
    box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.37);
}

#errores {
    margin-top: 16px;
    margin-bottom: 0px;
}

.error {
    color: red;
}

.texto {
    align-items: center;
    justify-content: center;
}

#horas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 20%;
    height: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
  

}

#pistas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 20%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;



}

input[type="file"] {
    display: none;
}

.hora, .pista {
    margin: 10px;
    padding: 10px;
}

/* PONER BORDE A LAS HORAS*/
.dos{
    border-bottom-right-radius: 10px;
}

.diez{
    border-top-right-radius: 10px;
}

.nueve{
    border-top-left-radius: 10px;
}

.una{
    border-bottom-left-radius: 10px;
}
/* ACABA EL BORDE EN LAS HORAS*/

/* BORDE EN LAS PISTAS*/
.uno{
    border-top-left-radius: 15px;
}

.pista-dos{
    border-bottom-left-radius: 15px;
}

.tres{
    border-top-right-radius: 15px;
}

.cuatro{
    border-bottom-right-radius: 15px;
}

#reservas {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}


#horas-reserva, #pistas-reserva {
    list-style: none;
}
.disponible {
    color: green;
    border: 2px solid green;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;

}

.no-disponible {
    color: red;
    border: 2px solid red;
    font-weight: bolder;
    background-color: #ff8080;
}

.seleccionado {
    color: blue;
    border: 2px solid blue;
    background: rgba(255, 255, 255, .5); 

}

.card-body{
    text-align: center;
}

#botonborrar{
    cursor: pointer;
    background-color: transparent !important;
    text-decoration: none;
    border: none;
}

.basura{
    color: red;
}

.basura:hover {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    color: rgba(255, 0, 0, 0.562);
    
  }
  


ul {
    list-style-type: none;
    padding: 0;

}

#horas{
    padding: 10px;
    margin: 20px;
}

#pistas{
    padding: 10px;
    margin: 20px;
}

.current{
    color: #759dec;
}

.texto-confirmacion{
    margin-top: 30px;
    margin-bottom: 20px;
}

/* LO DE SELECCIONAR LA FECHA DE LA RESERVA*/
kit-inner-spin-button { 
    display:none;
  }
  ::-webkit-calendar-picker-indicator { background-color:white}
  input[type=date]{
    font-size:20px;
  }
  ::-webkit-datetime-edit-text { color:white; }
  ::-webkit-datetime-edit-month-field { color:white; }
  ::-webkit-datetime-edit-day-field { color: white; }
  ::-webkit-datetime-edit-year-field { color:white; }
  ::-webkit-calendar-picker-indicator{ 
  
    background-image: url(http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Calendar-icon.png);
        background-position:center;
         background-size:20px 20px;
         background-repeat:no-repeat;
  }

.navbar-expand-lg{
    text-align: center;
  }

@media (max-width: 991px){
    .nav-item{
        margin-bottom: 10px;
    }

    .boton-logout{
        margin-top: 10px;
    }
   
  }
  